header {
    border: 3px dotted Purple;
}

main {
    border: 3px dotted Blue;
}
footer {
    border: 3px dotted Red;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}