@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
<div class="bg-image"
     style="
    background-image: url(https://images.pexels.com/photos/1904103/pexels-photo-1904103.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    border: 0px;
     
  ">
        <div class="float-left"
        style="font-size:50px;">Sign to adopt today!
        </div><br>
        <div class="float-left"
             style="font-size:25px;">
            Click the adopt tab to see our dogs.
        </div><br>
        <!--<div class="overlay"></div>-->
    </div>
</div> 






