@{
    ViewData["Title"] = "Home Page";
}


<div class="bg-image"
     style="
    background-image: url('https://images.pexels.com/photos/3448793/pexels-photo-3448793.jpeg?auto=compress&cs=tinysrgb&w=1600');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  "></div>

